@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Inconsolata:wght@700&family=Montserrat:wght@600&display=swap");

.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: absolute;
  width: 133px;
  height: 25px;

  font-family: "Inconsolata";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  color: #333333;
}

footer {
  position: absolute;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  height: 17px;

  color: #333333;
}

main > h1 {
  position: absolute;
  margin: 0px;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.035em;

  color: #333333;
}

.msg-404 {
  position: absolute;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  letter-spacing: -0.035em;
  color: #4f4f4f;
}

.btn-gray {
  position: absolute;
  width: 216px;
  height: 68px;
  text-decoration: None;
  background: #333333;
}

.btn-gray > span {
  position: relative;
  width: 130px;
  height: 21px;
  left: 43px;
  top: 24px;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 601px) {
  .wrapper {
    width: 1440px;
    height: 1080px;
  }

  header {
    left: 77px;
    top: 40px;
  }

  main > h1 {
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;

    font-size: 64px;
    line-height: 95px;
  }

  img.scarecrow {
    position: absolute;
    width: 539.22px;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
  }

  .msg-404 {
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;

    font-size: 24px;
    line-height: 36px;
  }

  .btn-gray {
    left: 740px;
    top: 663px;
  }

  footer {
    width: 1440px;
    top: 1024px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 375px;
    height: 949px;
  }

  header {
    left: 24px;
    top: 20px;
  }

  main > h1 {
    width: 350px;
    height: 142px;
    left: 24px;
    top: 407px;

    font-size: 48px;
    line-height: 71px;
  }

  img.scarecrow {
    position: absolute;
    width: 286.83px;
    left: 11.73%;
    right: 11.78%;
    top: 11.49%;
    bottom: 63.44%;
  }

  .msg-404 {
    width: 328px;
    height: 81px;
    left: 23px;
    top: 578px;

    font-size: 18px;
    line-height: 27px;
  }

  .btn-gray {
    left: 24px;
    top: 726px;
  }

  footer {
    width: 375px;
    top: 890px;
  }
}
